
name: Run Crawler - Update data

on:
  schedule:
    - cron:  '*/30 * * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.x
      uses: actions/setup-python@v1
      with:
          python-version: '3.x'
          architecture: 'x64'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Crawler with python
      run: |
        python "crawlerAll.py"
    - name: Commits
      run: |
        git config --local user.email "chanhuiseok@gmail.com"
        git config --local user.name "knucoronaCrawler"
        git add 검사자현황.js 국내현황.js 세계순위현황.js 세계현황.js 지역별현황.js Map_지역별차이현황.js news.json result.json
        git commit -m "Auto - Update data with Crawling"
    - name: Push
      uses: ad-m/github-push-action@master
      with:
        branch: 'master'
        github_token: ${{ secrets.GITHUB_TOKEN }} 
